<?php
header("Service-Worker-Allowed: /pif/");
?><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script> 
    <script src="script.js"></script>
    <link rel="icon" type="image/png" sizes="512x512" href="pif.png">
 
    <title>Calcul</title>
    <script>
    


    </script>
</head>
<body onload="init()">



    <div id="liste" v-if="Visible">
            <div class="w3-container w3-red w3-card w3-center">
                    <h1>Comptes</h1>
            </div>
            <div class="w3-container">
                <div class="w3-row w3-border-bottom" v-for="(c,i) in comptes" >
                    <div class="w3-col s4" v-on:click="chargercompte(i)">{{c.nom}}</div>
                    <div class="w3-col s8" >
                        <form-button content="🖉" color="red" @click="modifierCompte(i)"></form-button>
                        <form-button content="❌" color="black" @click="suprimerCompte(i)"></form-button>   
                    </div>
                </div>
            </div>
            <form-button content="+" color="green" @click="ajoutCompte()"></form-button>
            <form-dialog title="Comptes" v-if="currentCompte != -1" @close="currentCompte=-1" style="display:block">
                    <label>Nom</label>
                    <input class="w3-input" type="text" v-model="comptes[currentCompte].nom">                
            </form-dialog> 
    </div>    
    <div class="particpants" id="count" v-if="Visible">
        <div class="w3-container">
            <div class=" w3-red w3-card w3-center">
                    <h1>{{ count.Nom }}</h1>
                    <div class="w3-bar ">
                            <button class="w3-btn w3-bar-item" onclick="show('liste')">Comptes</button>
                    </div> 
            </div>

            <div class="w3-bar ">
                    <tab @click="tableau='participants'" :active="tableau=='participants'">Participants</tab>
                    <tab @click="tableau='depenses'" :active="tableau=='depenses'" v-if="utilisateur != -1">Dépenses</tab>
                    <tab @click="tableau='balance'" :active="tableau=='balance'" >Balance</tab>
            </div> 
           
            <p>Qui êtes vous :                     
            <select class="w3-select" v-model="utilisateur">
                <option v-for="(p,i) in count.participants" v-bind:value="i" >{{p.Nom}}</option>
            </select></p>
            <p>Total des dépenses : {{DepenseTotale}} €  Dépense par part : {{DepensePart}} </p>
            
            
            <div v-if="tableau == 'participants'">
                <div class="w3-container">
                    <div class="w3-row" v-for="(p,i) in count.participants">
                        <div class="w3-col s4" >{{count.participants[i].Nom }}</div>
                        <div class="w3-col s1" >{{count.participants[i].Part}}</div>
                        <div class="w3-col s3" :style = "'color: '+ balancecolor(i)">{{count.participants[i].Balance}}</div>
                        <div class="w3-col s4" >
                            <form-button content="🖉" color="red" @click="modifierParticipant(i)"></form-button>
                            <form-button content="❌" color="black" @click="suprimerParticipant(i)"></form-button>
                        </div>
                    </div>
                </div>
                <div>
                    <form-button content="+" color="green" @click="ajoutParticipant"></form-button>
                </div>
            </div>


            <div id="modifUser" class="w3-modal" v-if="currentUser != -1" style="display:block">
                    <div class="w3-modal-content">
                      <div class="w3-container" >
                        <div class="w3-container w3-red">
                                <h1>Utilisateur</h1>
                        </div>
                        
                        <label>Nom</label>
                        <input class="w3-input" type="text" v-model="count.participants[currentUser].Nom">
                        <label>Nombre de parts</label>
                        <input class="w3-input" type="text" v-model.number="count.participants[currentUser].Part" @blur="calculbalance">
                        <span>
                                <form-button content="OK" color="red" @click="currentUser=-1"></form-button>  
                        </span>
                  
                      </div>
                    </div>
            </div>
            
            
            <div v-if="tableau == 'depenses'">
                <div class="w3-row">
                    <div class="w3-row" v-for="(d,i) in count.depenses">
                        <div class="w3-col s3">{{count.participants[count.depenses[i].Participant].Nom}}</div>
                        <div class="w3-col s3">{{count.depenses[i].Libelle}}</div>
                        <div class="w3-col s2">{{count.depenses[i].Montant}}</div>
                        <div class="w3-col s4">
                            <form-button content="🖉" color="red" @click="modifierDepense(i)"></form-button>
                            <form-button content="❌" color="black" @click="suprimerDepense(i)"></form-button>
                        </div>
                    </div>
                </div>
                <form-button content="+" color="green" @click="ajoutDepense"></form-button>
            </div>
                <div id="modifDepense" class="w3-modal" v-if="currentDepense != -1" style="display:block">
                        <div class="w3-modal-content">
                          <div class="w3-container" >
                            <div class="w3-container w3-red">
                                    <h1>Dépense</h1>
                            </div>
                            
                            <label>Participant</label>
                            <select class="w3-select" v-model="count.depenses[currentDepense].Participant" v-on:change="calculbalance">
                                    <option v-for="(p,i) in count.participants" v-bind:value="i" >{{p.Nom}}</option>
                            </select>
                            <label>Libellé</label>
                            <input class="w3-input" type="text" v-model="count.depenses[currentDepense].Libelle">
                            <label>Montant</label>
                            <input class="w3-input" type="text" v-model.number="count.depenses[currentDepense].Montant"  @blur="calculbalance">
    
                            <div >
                                    <form-button content="ok" color="red" @click="currentDepense=-1"></form-button>
                            </div>
                          </div>
                        </div>
                </div>
           
    </div>

</div>
</body>
</html>